.main__inner {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  line-height: 1.2;
  
  @media (max-width: 899px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 599px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.title__top {
  margin-bottom: 60px;
  @media (max-width: 599px) {
    margin-bottom: 35px;
  }
}

.title__top h2 {
  font-size: 54px;
  @media (max-width: 899px) {
    font-size: 40px;
  }
  @media (max-width: 599px) {
    font-size: 35px;
  }
}
.central__part {
  margin-left: auto;
  margin-right: auto;
}

.central__part img {
  display: block;
  margin-bottom: 50px;
  @media (max-width: 599px) {
    margin-bottom: 35px;
  }
  
}
.central__part a {
  font-weight: 700;
}

.central__part p {
  @media (max-width: 599px) {
    font-size: 18px;
  }
}
.central__part a:hover {
  color: rgba(21, 95, 25, 0.8);
}
.central__part .button {
  margin-top: 30px;
  @media (max-width: 599px) {
    margin-top: 20px;
  }
}
.button {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  height: 46px;
  background: #378871;
  border-radius: 35px;
  font-weight: 700;
  font-size: 20px;
  line-height: 46px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.7s;
  @media (max-width: 599px) {
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    line-height: 35px;
  }
}
